<!DOCTYPE html>
<html lang="en">
<body>
    <div class="row">
        <div class="col-md-12">
            <h2>Departments</h2>
            <br>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Department&nbsp;Number</th>
                            <th>Depertmant&nbsp;Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each departments}}
                        <tr>
                            <td><a href="/employees?department={{departmentId}}">{{departmentId}}</a></td>
                            <td><a href="/employees?department={{departmentId}}">{{departmentName}}</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        {{#unless departments}}
        <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
        {{/unless}}
    </div>
</body>
</html>